<p id="notice"><%= notice %></p>

<h1>Listing Hotels</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Phone number</th>
      <th>Email</th>
      <th>Description</th>
      <th>Check in</th>
      <th>Check out</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hotels.each do |hotel| %>
      <tr>
        <td><%= hotel.name %></td>
        <td><%= hotel.address %></td>
        <td><%= hotel.phone_number %></td>
        <td><%= hotel.email %></td>
        <td><%= hotel.description %></td>
        <td><%= hotel.check_in %></td>
        <td><%= hotel.check_out %></td>
        <td><%= hotel.latitude %></td>
        <td><%= hotel.longitude %></td>
        <td><%= link_to 'Show', hotel %></td>
        <td><%= link_to 'Edit', edit_hotel_path(hotel) %></td>
        <td><%= link_to 'Destroy', hotel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hotel', new_hotel_path %>
